<!-- edit-vehicle.html -->
{% extends "layout.html" %}
{% block title %}Modifica Veicolo{% endblock %}
{% block main %}
{% if not vehicle %}
<h4>Seleziona un veicolo da modificare</h4>
<form action="/edit-vehicle" method="get">
  <div class="mb-3">
    <select class="form-select" name="vehicle">
      <option disabled selected>Veicolo</option>
      {% for v in vehicles %}
        <option value="{{ v["number"] }}">Veicolo {{ v["number"] }}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-danger" type="submit">Modifica veicolo</button>
</form>
{% else %}
<h4>Modifica veicolo: {{ v["number"] }}</h4>
<form action="/edit-vehicle" method="post">
  <div class="mb-3">
    <input required value="{{ v["year"] }}" autocomplete="off" class="form-control" id="year" name="year" placeholder="Anno" type="number">
  </div>
  <div class="mb-3">
    <input required value="{{ v["make"] }}" autocomplete="off" class="form-control" id="make" name="make" placeholder="Marca" type="text">
  </div>
  <div class="mb-3">
    <input required value="{{ v["model"] }}" autocomplete="off" class="form-control" id="model" name="model" placeholder="Modello" type="text">
  </div>
  <div class="mb-3">
    <input required value="{{ v["number"] }}" autocomplete="off" class="form-control" id="number" name="number" placeholder="ID veicolo" type="text">
  </div>
  <div class="mb-3">
    <input value="{{ v["tag"] }}" autocomplete="off" class="form-control" id="tag" name="tag" placeholder="Targa" type="text">
  </div>
  <div class="mb-3">
    <input disabled value="{{ v["vin"] }}" autocomplete="off" class="form-control" placeholder="VIN" type="text">
  </div>
  <button name="vehicle" value="{{ vehicle }}" class="btn btn-danger" type="submit">Modifica</button>
</form>
{% endif %}
{% endblock %}