<!-- edit-user.html -->
{% extends "layout.html" %}
{% block title %}Modifica Utente{% endblock %}
{% block main %}
{% if not user %}
<h4>Seleziona un utente da modificare</h4>
<form action="/edit-user" method="get">
  <div class="mb-3">
    <select class="form-select" name="user">
      <option disabled selected>Utente</option>
      {% for u in users %}
        {% if u["role"] != "owner" %}
          <option value="{{ u["username"] }}">{{ u["username"] }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-danger" type="submit">Modifica utente</button>
</form>
{% else %}
<h4>Modifica utente: {{ u["username"] }}</h4>
<form action="/edit-user" method="post">
  <div class="mb-3">
    <input required value="{{ u["username"] }}" autocomplete="off" class="form-control" id="username" name="username" placeholder="Nome utente" type="text">
  </div>
  <div class="mb-3">
    <input required value="{{ u["email"] }}" autocomplete="off" class="form-control" id="email" name="email" placeholder="Email" type="text">
  </div>
  <div class="mb-3">
    <input required autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" type="password">
  </div>
  <div class="mb-3">
    <input required autocomplete="off" class="form-control" id="confirmation" name="confirmation" placeholder="Conferma password" type="password">
  </div>
  <div class="mb-3">
    <select required class="form-select" name="role" id="role">
      <option disabled value="">Seleziona ruolo</option>
      <option value="admin" {% if u["role"] == "admin" %}selected{% endif %}>Amministratore</option>
      <option value="user" {% if u["role"] == "user" %}selected{% endif %}>Utente</option>
    </select>
  </div>
  <button name="u" value="{{ u["u_id"] }}" class="btn btn-danger" type="submit">Modifica</button>
</form>
{% endif %}
{% endblock %}