<!-- CONTENUTO FIN QUI OMESSO PER BREVITÀ -->

<!-- index.html -->
{% extends "layout.html" %}
{% block title %}Gestione Ispezioni e Manutenzione{% endblock %}
{% block head %}<script src="./static/script.js"></script>{% endblock %}
{% block main %}
{% if not session["user_id"] %}
  <div class="text-center">
    <h2>Accedi al tuo account in alto a destra o registrati come proprietario aziendale.</h2>
    <h3>Se non sei un proprietario, chiedi al tuo responsabile le credenziali.</h3>
  </div>
{% else %}
  <div class="container text-center">
    {% if users != [] %}
    <h2 class="text-danger">Utenti</h2>
    <table class="table table-hover table-bordered">
      <thead class="table-danger">
        <tr>
          <th>Utente</th>
          <th>Email</th>
          <th>Ruolo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(0, users | length) %}
        <tr>
          <td>{{ users[i]["username"] }}</td>
          <td>{{ users[i]["email"] }}</td>
          <td>{{ users[i]["role"] }}</td>
          <td>
            <form action="/edit-user" method="get">
              <button name="user" class="btn btn-sm btn-danger" type="submit" value="{{ users[i]["username"] }}" {% if users[i]["role"] == "owner" %}disabled{% endif %}>Modifica</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <h2 class="text-danger mt-5">Veicoli</h2>
    <table class="table table-hover table-bordered">
      {% if vehicles == [] %}
        <thead><tr><th>Nessun veicolo presente</th></tr></thead>
      {% else %}
        <thead class="table-danger">
          <tr>
            <th>Anno</th>
            <th>Marca</th>
            <th>Modello</th>
            <th>ID</th>
            <th>Targa</th>
            <th>VIN</th>
            <th colspan="3">Azioni</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, vehicles | length) %}
          <tr>
            <td>{{ vehicles[i]["year"] }}</td>
            <td>{{ vehicles[i]["make"] }}</td>
            <td>{{ vehicles[i]["model"] }}</td>
            <td>{{ vehicles[i]["number"] }}</td>
            <td>{{ vehicles[i]["tag"] }}</td>
            <td>{{ vehicles[i]["vin"] }}</td>
            <td>
              <form action="/edit-vehicle" method="get">
                <button name="vehicle" class="btn btn-sm btn-danger" type="submit" value="{{ vehicles[i]["number"] }}">Modifica</button>
              </form>
            </td>
            <td>
              <form action="/inspection" method="get">
                <button name="vehicle" class="btn btn-sm btn-danger" type="submit" value="{{ vehicles[i]["number"] }}">Ispeziona</button>
              </form>
            </td>
            <td>
              <form action="/vehicles" method="get">
                <button name="vehicle" class="btn btn-sm btn-danger" type="submit" value="{{ vehicles[i]["number"] }}">Visualizza</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
{% endif %}
{% endblock %}