<!-- inspection.html -->
{% extends "layout.html" %}
{% block title %}Nuova Ispezione{% endblock %}
{% block main %}
{% if not vehicle %}
<h4>Seleziona un veicolo da ispezionare</h4>
<form action="/inspection" method="get">
    <div class="mb-3">
        <select class="form-select mx-auto" name="vehicle" style="width: auto; margin-bottom:1em">
            <option disabled selected>Veicolo</option>
            {% for v in vehicles %}
                <option value="{{ v["number"] }}">Veicolo {{ v["number"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-danger" type="submit">Ispeziona</button>
</form>
{% else %}
<h4>Ispezione veicolo {{ v["number"] }}: {{ v["year"] }} {{ v["make"] }} {{ v["model"] }}</h4>
<div style="text-align:center; max-width:1100px; margin: auto;">
<form action="/inspection" method="post">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="miles" name="miles" placeholder="Chilometraggio attuale" type="number">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="maintenance" name="maintenance" placeholder="Prossimo cambio olio" type="number">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="First Name" type="text">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="Last Name" type="text">
    <table class="table table-hover table-sm"><tbody>
        {% for ins in inspection %}
        <tr>
            <td style="text-align:right;">{{ ins[3] }}</td>
            <td><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</td>
            <td><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</td>
            <td><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=2> N/D</td>
            <td><input class="form-control" name="{{ ins[1] }}" type="text" style="visibility:hidden"></td>
        </tr>
        {% endfor %}
    </tbody></table>
    <input type="hidden" name="date" value="{{ date }}">
    <p><strong>Data e ora dell'ispezione:</strong> {{ date }}</p>
    <button name="vehicle" class="btn btn-danger" type="submit" value="{{ v["v_id"] }}">Aggiungi Ispezione</button>
</form>
{% endif %}
</div>
{% endblock %}
