
{% extends "layout.html" %}
{% block title %}Nuova Ispezione{% endblock %}
{% block main %}
<!-- {{ v }} -->
{% if not vehicle %}
<h4>Seleziona un veicolo da ispezionare</h4>
<form action="/inspection" method="get">
    <div class="mb-3">
        <select class="form-select mx-auto" name="vehicle" >
            <option disabled selected>Veicolo</option>
            {% for v in vehicles %}
                <option value="{{ v["number"] }}">Veicolo {{ v["number"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-danger" type="submit">Ispeziona</button>
</form>
{% elif v is defined and (v["vin"] == "ambulanza" or v["vin"] == "mezzo_1") %}
<h4>Ispezione veicolo {{ v["number"] }}: {{ v["year"] }} {{ v["make"] }} {{ v["model"] }}</h4>
<div >
<form action="/inspection" method="post">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="miles" name="miles" placeholder="Chilometraggio attuale" type="number">
    <input type="hidden" name="maintenance" value="0">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="nome" type="text">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="cognome" type="text">


<div class="accordion mb-3" id="accordion-1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1">
        🧾 Vano Guida
      </button>
    </h2>
    <div id="collapse-1" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[0:13] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-2">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2">
        🦺 Set Sicurezza
      </button>
    </h2>
    <div id="collapse-2" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[13:21] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-3">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3">
        🧤 Guanti
      </button>
    </h2>
    <div id="collapse-3" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[21:25] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-4">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4">
        🏥 Vano Sanitario
      </button>
    </h2>
    <div id="collapse-4" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[25:55] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-5">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5">
        ⚡ D.A.E. (Defibrillatore)
      </button>
    </h2>
    <div id="collapse-5" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[55:60] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-6">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-6">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6">
        ⚙️ Strumenti Elettromedicali
      </button>
    </h2>
    <div id="collapse-6" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[60:65] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-7">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-7">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7">
        🛌 Presidi
      </button>
    </h2>
    <div id="collapse-7" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[65:84] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-8">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8">
        🟦 Asse Spinale Adulti
      </button>
    </h2>
    <div id="collapse-8" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[84:89] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-9">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-9">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9">
        🟩 Asse Spinale Pediatrica
      </button>
    </h2>
    <div id="collapse-9" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[89:94] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-10">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-10">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10">
        🟨 Steccobende
      </button>
    </h2>
    <div id="collapse-10" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[94:97] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-11">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-11">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-11">
        💉 Sondini Aspiratore
      </button>
    </h2>
    <div id="collapse-11" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[97:103] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-12">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-12">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-12">
        😷 Maschere Ossigeno
      </button>
    </h2>
    <div id="collapse-12" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[103:110] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-13">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-13">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-13">
        🧼 Igiene del Mezzo
      </button>
    </h2>
    <div id="collapse-13" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[110:117] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-14">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-14">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-14">
        🎒 Zaino Pediatrico - Sacca Parto Gialla
      </button>
    </h2>
    <div id="collapse-14" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[117:123] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-15">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-15">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-15">
        🎒 Sacca Elett. Ped. Rossa
      </button>
    </h2>
    <div id="collapse-15" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[123:130] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-16">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-16">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-16">
        🎒 Sacca Ventilazione Pediatrica Blu
      </button>
    </h2>
    <div id="collapse-16" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[130:140] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-17">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-17">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-17">
        🖥️ Monitor
      </button>
    </h2>
    <div id="collapse-17" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[140:151] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-18">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-18">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-18">
        🗄️ Vani Armadio - Set arti
      </button>
    </h2>
    <div id="collapse-18" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[151:157] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-19">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-19">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-19">
        🔥 Set Ustioni
      </button>
    </h2>
    <div id="collapse-19" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[157:160] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-20">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-20">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-20">
        🧊 Vano Armadio Caldi
      </button>
    </h2>
    <div id="collapse-20" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[160:162] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-21">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-21">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-21">
        🧼 Vano Armadio
      </button>
    </h2>
    <div id="collapse-21" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[162:165] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-22">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-22">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-22">
        🎒 Zaino Soccorso
      </button>
    </h2>
    <div id="collapse-22" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[165:168] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-23">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-23">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-23">
        🎒 Sacca Medicazione Verde
      </button>
    </h2>
    <div id="collapse-23" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[168:184] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-24">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-24">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-24">
        🎒 Sacca Ventilazione Adulto Blu
      </button>
    </h2>
    <div id="collapse-24" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[184:194] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-25">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-25">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-25">
        🎒 Sacca Elettromedicale Rossa
      </button>
    </h2>
    <div id="collapse-25" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[194:201] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
                <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordion-26">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-26">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-26">
        🎒 Sacca Sondini Nera
      </button>
    </h2>
    <div id="collapse-26" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div ><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[201:207] %}
            <tr>
              <td >{{ ins[3] }}</td>
               <td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
<td><label ><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td><td><input class="form-control" name="{{ ins[1] }}" type="text"  style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>


<div class="accordion mb-3" id="accordion-27">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-27">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-27">
        🛠️ Sottopanca
      </button>
    </h2>
    <div id="collapse-27" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[207:211] %}
            <tr>
              <td style="text-align:right;">{{ ins[3] }}</td>
              <td><label style="white-space: nowrap;"><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
              <td><label style="white-space: nowrap;"><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td>
              <td><input class="form-control" name="{{ ins[1] }}" type="text" style="visibility:hidden" style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="date" value="{{ date }}">
<p><strong>Data e ora dell'ispezione:</strong> {{ date }}</p>
<button type="button" class="btn btn-warning mb-3" id="check-all-btn">Check all OK (for testing)</button>
<button name="vehicle" class="btn btn-danger" type="submit" value="{{ v["v_id"] }}">Aggiungi Ispezione</button>
</form>
</div>

{% else %}
<h4>Ispezione veicolo {{ v["number"] }}: {{ v["year"] }} {{ v["make"] }} {{ v["model"] }}</h4>
<div>
<form action="/inspection" method="post">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="miles" name="miles" placeholder="Chilometraggio attuale" type="number">
    <input type="hidden" name="maintenance" value="0">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="nome" type="text">
    <input required autocomplete="off" class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="cognome" type="text">

<div class="accordion mb-3" id="accordion-1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1">
        🧾 Vano Guida
      </button>
    </h2>
    <div id="collapse-1" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div><table class="table checklist table-hover table-sm">
          <tbody>
            {% for ins in inspection[0:13] %}
            <tr>
              <td style="text-align:right;">{{ ins[3] }}</td>
              <td><label style="white-space: nowrap;"><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=1> OK</label></td>
              <td><label style="white-space: nowrap;"><input required class="form-check-input" name="{{ ins[0] }}" type="radio" value=0> Non OK</label></td>
              <td><input class="form-control" name="{{ ins[1] }}" type="text" style="visibility:hidden" style="display:none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div>
      </div>
    </div>
  </div>
</div>

{% for i in range(13, 179) %}
    <input type="hidden" name="{{ inspection[i][0] }}" value="1">
{% endfor %}

<input type="hidden" name="date" value="{{ date }}">
<p><strong>Data e ora dell'ispezione:</strong> {{ date }}</p>
<button type="button" class="btn btn-warning mb-3" id="check-all-btn">Check all OK (for testing)</button>
<button name="vehicle" class="btn btn-danger" type="submit" value="{{ v["v_id"] }}">Aggiungi Ispezione</button>
</form>
</div>

{% endif %}
<script>
document.getElementById('check-all-btn').onclick = function() {
    const radios = document.querySelectorAll('input[type="radio"][value="1"]');
    radios.forEach(radio => {
        if (!radio.checked) {
            radio.checked = true;
            radio.dispatchEvent(new Event('change'));
        }
    });
};
</script>

{% endblock %}
