<!-- login.html -->
{% extends "layout.html" %}
{% block title %}Accedi{% endblock %}
{% block main %}
<div class="text-center my-4">
    <h2 style="color: #d32f2f;"><i class="fas fa-notes-medical"></i> Accesso Operatore</h2>
</div>
<form action="/login" method="post" style="max-width: 400px; margin: auto;">
    <div class="mb-3">
        <input required autocomplete="off" autofocus class="form-control" id="company" name="company" placeholder="Nome della compagnia" type="text">
    </div>
    <div class="mb-3">
        <input required autocomplete="off" class="form-control" id="username" name="username" placeholder="Nome utente" type="text">
    </div>
    <div class="mb-3">
        <input required autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn w-100 text-white" type="submit" style="background-color: #d32f2f;">Accedi</button>
</form>
{% endblock %}